<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!-- 配置仓库加速镜像地址 -->
    <mirrors>
        <mirror>
            <id>ALiYunMaven</id>
            <name>Maven中央仓阿里云镜像加速</name>
            <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
    <!-- 配置所有的仓库下载数据源地址 -->
    <profiles>
        <profile>
            <id>Repository</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>XBX152</id>
                    <url>http://223.112.44.146:9999/repository/MAVEN/</url>
                </repository>
                <repository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
